# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Local plan files
*.tfplan
*.tfplan.*

# Local .terraform directories
**/.terraform/*

# Maven and Eclipse
.classpath
.project
.settings/
target/